Source: python-dvdvideo
Section: python
Priority: extra
Maintainer: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>= 9.0.0), python3, python3.2
Standards-Version: 3.9.4
X-Python3-Version: 3.2

Package: python3-dvdvideo
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Video DVD reader library
