Source: python-dvdvideo
Section: python
Priority: extra
Maintainer: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python3
Standards-Version: 3.9.2
XS-Python-Version: 3.1

Package: python3-dvdvideo
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Video DVD reader library
