#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

versions_2 := $(shell pyversions -r)
versions_3 := $(shell py3versions -r)

%:
	dh --without=python-support --with=python3 $@ 

override_dh_auto_build:
	set -e && for i in $(versions_3); do \
		$$i ./setup.py build; \
	done

override_dh_auto_install:
	set -e && for i in $(versions_3); do \
		$$i ./setup.py install --install-layout=deb --root $(CURDIR)/debian/python3-dvdvideo; \
	done
	dh_install

override_dh_auto_clean:
	rm -rf build
	dh_clean

